#puzzleRows {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
.puzzleRow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.puzzleRow * {
    padding: 0 10px;
}
.stacked {
    display: flex;
    flex-direction: column;
}
input {
    min-height: 30px;
    width: 120px;
}
.puzzleRow {
    padding: 10px;
}
.stacked span {
    padding-right: 0;
}
#answerPage {
    display: flex;
    justify-content: center;
}
#answerPage h1 {
    text-align: center;
}
@media (min-width: 800px) {
    #puzzleRows {
        min-width: 740px;
    }
}
@media (max-width: 799px) {
    #answerPage h1 {
        font-size: xx-large;
    }
}